.App {
  text-align: center;
}
.nav {
  background-color: rebeccapurple;
}
a {
  text-decoration: none;
  width: 15vw;
  height: 20vh;
  margin: 5%;
  color: white;
}
ul {
  list-style-type: none;
}
.loginForm,
.newFriendForm {
  margin: 15%;
}
input {
  margin: 2%;
}
.flcontainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.friend {
  width: 30%;
  border: 4px inset rebeccapurple;
  background-color: turquoise;
  margin: 1%;
}
button {
  background-color: rebeccapurple;
  border: 3px inset turquoise;
  color: white;
}
button:hover {
  background-color: turquoise;
  border: 3px inset rebeccapurple;
  color: white;
}
